<div class='col-md-4'>
  <div class='activities'>
    <h2 class='upcoming-activities mt-4'>CONFIRMED REQUESTS</h2>
    <div class="upcoming-rentals">
      <% if @confirmed_requests.present? %>
        <%= render 'confirmed_requests' %>
      <% else %>
        <p>No upcoming requests.</p>
      <% end %>
    </div>
  </div>
</div>
