.home-background {
  background-image: url('https://images.pexels.com/photos/27462424/pexels-photo-27462424/free-photo-of-people-riding-on-a-roller-coaster-at-an-amusement-park.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0.8;
  mask-image: linear-gradient(to top, transparent 2%, #F4F4F4);
}

.title {
  text-align: center;
  color: #1d1d1d;
  height: auto;
  width: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title h1{
  font-family: "Staatliches", sans-serif;
  font-size: 4rem;
  font-weight: 600;
}

.title p {
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
}

.trending-friends {
  text-align: center;
  font-size: 1.5rem;
  margin-top: -50px;
}
